@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');


html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Inter', sans-serif;
}


.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #766DF4);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}

@keyframes s3 {
  to {
    transform: rotate(1turn)
  }
}

.border-bottom1{
  border-bottom: 3px solid #ddd;
}